In [22]:
import pandas as pd
from datetime import date
from glob import glob

In [2]:
today = date.today()
dates = [date.strftime('%m-%d-%Y') for date in pd.date_range(start='2020-01-22', end=today)][:-1]
dates_as_date = pd.date_range(start='2020-01-22', end=today)[:-1]


# standardize column names for all entries
def rename_columns(column):
    column_map = {
        'Lat': 'Latitude',
        'Long_': 'Longitude',
        'Incidence_Rate': 'Incident_Rate'
    }
    if column in column_map:
        return column_map[column]
    return column.replace('/', '_').replace('-', '_').replace(' ', '_')

In [3]:
all_cases = pd.DataFrame(columns=['Country_Region', 'Confirmed', 'Deaths', 'Date'])

for d in dates:
    path = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{}.csv".format(d)
    df = pd.read_csv(path)
    df.rename(columns=rename_columns, inplace=True)
    df = df[['Country_Region', 'Confirmed', 'Deaths']]
    df = df.groupby(['Country_Region']).agg(
        Confirmed = ('Confirmed', 'sum'),
        Deaths = ('Deaths', 'sum')
    ).reset_index()
    df['Date'] = d
    all_cases = pd.concat([all_cases, df])

In [4]:
all_cases

         Country_Region  Confirmed  Deaths        Date
0                 China        0.0     0.0  01-22-2020
1             Hong Kong        0.0     0.0  01-22-2020
2                 Japan        2.0     0.0  01-22-2020
3                 Macau        1.0     0.0  01-22-2020
4        Mainland China      547.0    17.0  01-22-2020
..                  ...        ...     ...         ...
187             Vietnam     4359.0    37.0  05-17-2021
188  West Bank and Gaza   304074.0  3437.0  05-17-2021
189               Yemen     6568.0  1294.0  05-17-2021
190              Zambia    92460.0  1261.0  05-17-2021
191            Zimbabwe    38572.0  1582.0  05-17-2021

[83596 rows x 4 columns]

In [13]:
all_cases['Date'] = all_cases['Date'].astype('datetime64')

In [35]:
# all_cases.Country_Region.unique()

country_mapping = {
    'MS Zaandam|Diamond Princess|Cruise Ship': 'Others', # move cruise ships to others
    'Hong Kong.+': 'Hong Kong',
    'Iran.+': 'Iran',
    '.*Congo.*': 'Congo',
    'Mainland China': 'China',
    '.*Bahamas.*': 'The Bahamas',
    '.*Gambia.*': 'The Gambia',
    'Viet Nam': 'Vietnam',
    'Taiwan\*': 'Taiwan',
    'Cote d\'Ivoire': 'Ivory Coast',
    'Cabo Verde': 'Cape Verde',
    'Russian Federation': 'Russia',
    ' Azerbaijan': 'Azerbaijan',
    'Holy See': 'Vatican City',
    'Republic of Ireland': 'Ireland',
    'Republic of Moldova': 'Moldova',
    'Czechia': 'Czech Republic',
    'Republic of Korea|Korea, South': 'South Korea',
    'Timor-Leste': 'East Timor',
    'Macao SAR|Macau': 'Macao',
    'UK': 'United Kingdom',
    'Jersey|Guernsey': 'Channel Islands',
    'Dominican Republicn Republic|Dominica': 'Dominican Republic'
}

raw_data['Country_Region'].replace(to_replace=country_mapping.keys(), value=country_mapping.values(), regex=True, inplace=True)

In [ ]:
'Iran (Islamic Republic of)'
'Macao SAR'
'Taipei and environs'
'Viet Nam'
'Republic of Ireland'
'occupied Palestinian territory'
'Congo (Kinshasa)''
'Cruise Ship'
'Korea, South'
'Taiwan*'
'Congo (Brazzaville)'
'Republic of the Congo'
'The Gambia'
'Gambia, The'
'Bahamas, The'
'The Bahamas'
'Mainland China'

In [ ]:
all_cases = pd.DataFrame(columns=['Country_Region', 'Confirmed', 'Deaths', 'Date'])

for d in range(5):
    path = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{}.csv".format(dates[d])
    df = pd.read_csv(path)
    df.rename(columns=rename_columns, inplace=True)
    df = df[['Country_Region', 'Confirmed', 'Deaths']]
    df = df.groupby(['Country_Region']).agg(
        Confirmed = ('Confirmed', 'sum'),
        Deaths = ('Deaths', 'sum')
    ).reset_index()
    df['Date'] = dates_as_date[d]
    all_cases = pd.concat([all_cases, df])

In [ ]:
all_cases['Date']